<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    $<%= f.number_field :value %>
  </div>
  
  <%= fields_for :name do |n|%>
  <div class="field">
    <%= n.label :from_user %><br />
    <%= n.text_field :from_user %>
  </div>
  <div class="field">
    <%= n.label :to_user %><br />
    <%= n.text_field :to_user %>
  </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Badgerize this bill"%>
  </div>
<% end %>
