<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  $<%= @transaction.value %>
</p>

<p>
  <b>From user:</b>
  <%= link_to @transaction.creditor.name, @transaction.creditor %>
</p>

<p>
  <b>To user:</b>
  <%= link_to @transaction.debtor.name, @transaction.debtor %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
